:root {
  background-color: black;
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

/*TITLE STYLES*/
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: white;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  #name_h1 {
    font-size: 12vw;
    text-align: center;
  }
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/*UTILITIES*/
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*BUTTONS*/
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.2rem solid white;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: black;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 white;
  box-shadow: 0 0.4rem 1.4rem 0 white;
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.fas {
  font-size: 9rem;
  border-radius: 50%;
  border: none;
}

.fas:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.fas[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icons a {
  padding: 0 8rem;
}

@media only screen and (max-width: 600px) {
  .fas {
    font-size: 6rem;
  }
  .icons a {
    padding: 0 5rem;
  }
}

/*END SCREEN*/
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  -webkit-box-shadow: 0 0.1rem 1.4rem 0 white;
  box-shadow: 0 0.1rem 1.4rem 0 white;
  color: black;
}

input::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder {
  color: black;
}

input:-ms-input-placeholder {
  color: black;
}

input::-ms-input-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.fa-redo {
  font-size: 5rem;
  padding-top: 2rem;
}
.fa-home {
  font-size: 5rem;
  padding-top: 2rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icon a {
  padding: 0 5rem;
}
